#
# Systemd unit file for Sonarr
#
[Unit]
Description=Sonarr Daemon
After=syslog.target network.target
[Service]
Environment=MONO_TLS_PROVIDER=legacy
User={{ sonarr_user }}
Group={{ sonarr_user }}
Type=simple
ExecStart=/usr/bin/mono {{ sonarr_directory }}NzbDrone.exe -nobrowser -data {{ sonarr_home }}
TimeoutStopSec=20
[Install]
WantedBy=multi-user.target
